body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  --color-background: #623E3E;
  --color-text: #F5D1C3;
  /* TODO rename to grays */
  --color-disabled: #484848;
  --color-button: #5E5E5E;
  --color-button-hover: #323232;
  background: var(--color-background);
  color: var(--color-text);
}

.flex-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.flex-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.hover {
  cursor: pointer;
  user-select: none;
}

.hover:hover {
  color: white;
}

.hover.disabled {
  cursor: initial;
  color: var(--color-disabled);
}

.hover.disabled:hover {
  color: var(--color-disabled);
}

div[class^='arrow-'] {
  font-size: 5em;
}

.arrow-left:before {
  content: '\2039';
  padding: .2em;
}

.arrow-right:after {
  content: '\203A';
  padding: .2em;
}

.p1 {
  padding: 1em;
}

.capitalize {
  user-select: none;
  text-transform: capitalize;
}
