body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
}

html {
  --color-background: #070707;
  --color-text: #DEBC8E;
  background: var(--color-background);
  color: var(--color-text);
}

.flex-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.flex-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.hover {
  cursor: pointer;
  user-select: none;
}

.hover:hover {
  color: white;
}

div[class^='arrow-'] {
  font-size: 5em;
}

.arrow-left:before {
  content: '\2039';
  padding-right: .2em;
}

.arrow-right:after {
  content: '\203A';
  padding-left: .2em;
}

.p1 {
  padding: 1em;
}