.question {
	max-width: 80vw;
	margin-top: 25px;
	font-weight: 300;
	letter-spacing: 0;
	font-size: clamp(2.5rem, 6.5vw, 7rem);
	line-height: clamp(3.5rem, 10vw, 8rem);
	text-align: center;
	text-shadow: 0 2px 8px rgba(0,0,0,0.6);
}
