.button {
	background-color: var(--color-button);
	color: var(--color-text);
	border-radius: 21px;
	display: inline-block;
	cursor: pointer;
	font-size: 21px;
	padding: 12px;
	width: 249px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease-in-out;
	margin: 10px;
	border: none;
	outline:none;
}

.button:hover {
	background-color: var(--color-button-hover);
	text-decoration: none;
	color: var(--color-text);
}