.tabs {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  position: relative;
  height: 30px;
}

.tabs:after {
  content: ' ';
  display: table;
  clear: both;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: var(--color-text);
  transform-origin: 0 0;
  transition: all 0.4s ease-in-out;
}

.tab {
  color: var(--color-text);
  display: inline;
  height: 25px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.tab:first-child.active ~ .slider {
  left: 0;
}

.tab:nth-child(2).active ~ .slider {
  left: 80px;
}

.tab:nth-child(3).active ~ .slider {
  left: 160px;
}

.tab:nth-child(4).active ~ .slider {
  left: 240px;
  width: 120px;
}

.tab:nth-child(5).active ~ .slider {
  left: 360px;
}
