* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  --color-background: #623E3E;
  --color-text: #F5D1C3;
  --color-text-disabled: #A16868;
  --color-text-busy: #A97575;
  --color-button: #D98575;
  /* TODO rename to grays */
  --color-disabled: #A16868;
  --color-button-hover: #EAA285;
  --color-button-disabled: #C78A73;
  --height-navbar: 80px;
  --radius: 8px;
  --box-shadow: 0 2px 4px 0 rgba(240,188,168,0.4);
  background: var(--color-background);
  color: var(--color-text);
}

svg {
  fill: currentColor;
}

.body {
  width: 100%;
  height: calc(100vh - var(--height-navbar));
  margin-top: var(--height-navbar);
}

.body.lower {
  z-index: -1;
}

.flex-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.flex-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.hover {
  cursor: pointer;
  user-select: none;
}

.hover:hover {
  color: white;
}

.hover.disabled {
  cursor: initial;
  color: var(--color-disabled);
}

.hover.disabled:hover {
  color: var(--color-disabled);
}

div[class^='arrow-'] {
  font-size: 5em;
}

.arrow-left:before {
  content: '\2039';
  padding: .2em;
}

.arrow-right:after {
  content: '\203A';
  padding: .2em;
}

.p1 {
  padding: 1em;
}

.w80 {
  display: inline-block;
  width: 80px;
}