.selector-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
	padding-right: 1em;
}

.selector-container > div {
	padding: .5em;
}

.dropdown {
	background-color: var(--color-background) !important;
	color: var(--color-text) !important;
	border: none !important;
	font-weight: 500 !important;
}

.Dropdown-arrow {
	border-color: var(--color-text) transparent transparent !important;
}

.is-open .Dropdown-arrow {
	border-color: transparent transparent var(--color-text) !important;
}